h3 {
    background-color: #303030;
    color: #ffffff;
}

p {
    font-size: 16px;
    /*width: 100em; /* atribui n vezes o tamanho da fonte */
    /*height: 10%; /* relativo ao tamanho da tela */
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}
  
.column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}